<h1>ユーザー情報 index</h1>

<%= form_tag movies_path, method: :get do%>
  <label>ワード検索</label>
  <%= text_field_tag :keyword, params[:keyword] %>
  <br>

  <label>上映情報</label>
  <%= radio_button_tag :is_showing, '', params[:is_showing] == '', id: 'show_all' %>
  <%= label_tag 'show_all', 'All' %>
  <%= radio_button_tag :is_showing, '1', params[:is_showing] == '1', id: 'showing' %>
  <%= label_tag 'showing', 'Showing' %>
  <%= radio_button_tag :is_showing, '0', params[:is_showing] == '0', id: 'upcoming' %>
  <%= label_tag 'upcoming', 'Upcoming' %>

  <%= submit_tag "検索" %>
  <br>
<% end %>

<table>
  <tr>
    <td>映画タイトル</td>
    <td>公開年度</td>
    <td>概要</td>
    <td>画像URL</td>
    <td>上映状況</td>
    <td>公開日時</td>
    <td>更新日時</td>
  </tr>

  <% @movie.each do |mv| %>
    <tr>
      <td><%= mv.name %></td>
      <td><%= mv.year %></td>
      <td><%= mv.description %></td>
      <td><%= link_to "画像", mv.image_url %></td>
      <td><%= mv_showing(mv.is_showing) %>
      <td><%= mv.created_at %></td>
      <td><%= mv.updated_at %></td>
    </tr>
  <% end %>
</table>
