<h1><%= @movie.name %></h1>
<p>
  ID:<%= @movie.id %><br>
  公開年:<%= @movie.year %><br>
  概要:<%= @movie.description %><br>
  <%= @movie.is_showing ? '上映中' : '上映予定' %>
  作成日時:<%= @movie.created_at %><br>
  更新日時:<%= @movie.updated_at %><br>
</p>
<img src="<%= @movie.image_url %>" alt="<%= @movie.name %>">

<h2>上映スケジュール</h2>
<table>
  <tr>
    <td>ID</td>
    <td>Movie_ID</td>
    <td>上映開始時間</td>
    <td>上映終了時間</td>
    <td>作成日時</td>
    <td>更新日時</td>
  </tr>
  <% @schedules.each do |sch| %>
    <tr>
      <td><%= sch.id %></td>
      <td><%= sch.movie %></td>
      <td><%= sch.start_time %></td>
      <td><%= sch.end_time %></td>
      <td><%= sch.created_at %></td>
      <td><%= sch.updated_at %></td>
    </tr>
  <% end %>
</table>
