<h1>更新</h1>

<%= form_with model: @movie, url: {controller: 'admin/movies', action: 'update'} do |i| %>

  <% render 'error' %>

  <%= label :name, '映画タイトル' %>
  <%= i.text_field :name %>
  <br>

  <%= label :year, '公開年' %>
  <%= i.number_field :year %>
  <br>

  <%= label :is_showing, '上映中か' %>
  <%= i.check_box :is_showing %>
  <br>

  <%= label :description, '概要' %>
  <%= i.text_area :description %>
  <br>

  <%= label :image_url, '画像URL' %>
  <%= i.text_field :image_url %>
  <br>

  <%= i.submit %>
<% end %>
<%= link_to '削除', admin_movie_path(@movie), method: :delete, data: {confilm: '本当に削除しますか？'}, class: 'btn del-btn' %>
<br>
