<h1>ユーザー情報 admin</h1>

<table>
  <tr>
    <td>ID</td>
    <td>映画タイトル</td>
    <td>公開年</td>
    <td>概要</td>
    <td>画像URL</td>
    <td>上映中か</td>
    <td>作成日時</td>
    <td>更新日時</td>
  </tr>

  <% @movie.each do |mv| %>
    <tr>
      <td><%= mv.id %><td>
      <td><%= mv.name %></td>
      <td><%= mv.year %></td>
      <td><%= mv.description %></td>
      <td><%= image_tag mv.image_url %></td>
      <td><%= mv_showing(mv.is_showing) %>
      <td><%= mv.created_at %></td>
      <td><%= mv.updated_at %></td>
    </tr>
  <% end %>
</table>
