<h1>新規登録</h1>

<%= form_with(model: @movie, url: admin_movies_path, local: true) do |f| %>

  <% render 'shared/error_messages', object: @movie %>

  <%= f.label :name, '映画タイトル' %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :year, '公開年' %>
  <%= f.number_field :year %>
  <br>

  <%= f.label :is_showing, '上映中か' %>
  <%= f.check_box :is_showing %>
  <br>

  <%= f.label :description, '概要' %>
  <%= f.text_area :description %>
  <br>

  <%= f.label :image_url, '画像URL' %>
  <%= f.text_field :image_url %>
  <br>

  <%= f.submit %>
  <br>
<% end %>
